@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: chocolate;
}

header > h1 {
    display: block;
    margin-top: -100px;
    margin-bottom: 50px;
    text-align: center;
}
.container-conteudos{
    margin: auto;
    width: 70%;
    padding: 10px;
    height: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    background-color: rgb(214, 213, 213);
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.materias {
    margin: 0px 0.5px 150px 0px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    color: rgb(255, 255, 255);    
}

.materias > h1 {
    font-size: 25px;
    padding: 10px;
}

.materias div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 120px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

#port {
    background-color: rgb(238, 121, 37);
}

#mat {
    background-color: #CA6996;
}

#cie {
    background-color: #3BAE61;
}

#hist {
    background-color:#CFB250;
}

#ingl {
    background-color:#3063DD;
}

#icon {
    color: black;
    padding: 2px;
}

#user {
    margin: -30px 0px 0px 0px;
    font-size: 50px;
    color: black;
}

.img_footer{
    display: flex;
    margin: auto;
    padding: 50px;
    width: 77%;
}